label {
	display:block;
	font-size: 1em;
	margin: .8em 0 0;
}

input[type="text"], input[type="email"], input[type="url"], textarea {
	width: 250px;
	
}

input[type="submit"] {
	display:block;
	margin: 1em 0;

}

input{
	background: #fff;
	border: 1px solid #000;
	border-radius: .2em .2em .2em .2em;
	line-height:20px;
	
}

.inline {
	display: inline;
	
	
}

fieldset {
	border:1px solid #000;
	background:#d9d7d7;
	width: 90%;
	padding:1em;
	margin: 1em 0;
	-webkit-border-radius: 0 .5em .5em 0;
	-moz-border-radius: 0 .5em .5em 0;
	border-radius: 0 .5em .5em 0;
}



input[type="search"] {
	width:15.625em;
}

input[type=text],,input[type=email],input[type=url],input[type=tel],input[type=number],input[type=datetime],textarea, {
	-webkit-appearance: none;
	-moz-appearance: none;
	border:1px solid #000;
	background: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 5px;
	margin: 0;
	margin-bottom: 10px;
}

fieldset:before {
	content:attr(title);
	display: block;
	font: 1.2em Cantarell, Arial, Helvetica, sans-serif;
	font-weight:bold;
	border:1px solid #000;
	width: 90%;
}


.myButton {
	-moz-box-shadow:inset 0px 34px 0px -15px #b55;
	-webkit-box-shadow:inset 0px 34px 0px -15px #b55;
	box-shadow:inset 0px 34px 0px -15px #b55;
	border-radius: .5em .5em .5em .5em;
	background-color:#a78;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	padding:2px 7px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}

.myButton:hover {
	background-color:#b55;
}


.myButton:active {
	position:relative;
	top:1px;
}
